* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    height: 100vh;
}

.img {
    height: 100vh;
    width: 40vw;
    display: flex;
    align-items: center;
    background-color: hsl(0, 0, 100);
}

.img img {
    width: 40vw;
}