* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.main-container {
    display: flex;
}

.img {
    height: 100vh;
    width: 40vw;
    display: flex;
    align-items: center;
}

.img img {
    width: 40vw;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: hsl(0, 0, 100%);
}

.form-container > * {
    margin: 10px 30px;
}

p {
    font-size: 15px;
    font-weight: bold;
    font-family: sans-serif;
}

p > span {
    font-style: italic;
}

.form {
    border: 10px, solid, black;
    display: grid;
    
}

.form > p  {
    margin-bottom: 10px;
}

.form label {
    padding-bottom: 10px;
}